[submodule "submodulo-javi"]
	path = submodulo-javi
	url = https://github.com/javiexfiliana7/submodulo-javi.git
[submodule "submodulo-Alberto"]
	path = submodulo-Alberto
	url = https://github.com/sn1k/submodulo-Alberto.git
[submodule "submodulo-lorenzo"]
	path = submodulo-lorenzo
	url = https://github.com/lorenmanu/submodulo-lorenzo.git
